body {
    background-color: darkblue;
}

#text {
  background-color: black;
  color: white;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: lightgray;
  color: white;
  margin: 0 auto;
  padding: 10px;
}

#controls {
  border: 1px black solid;
  padding: 5px;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

#monsterStats {
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}

.stat {
  padding-right: 10px;
}

.image-dragon {
  display: none;
  margin-left: 50px;
  width: 400px;
  height: 250px;
}

.image-slime {
  display: none;
  margin-left: 50px;
  width: 400px;
  height: 250px;
}

.image-beast {
  display: none;
  margin-left: 50px;
  width: 400px;
  height: 250px;
}

.image-cave {
  display: none;
  margin-left: 50px;
  width: 400px;
  height: 250px;
}

.image-store {
  display: none;
  margin-left: 50px;
  width: 400px;
  height: 250px;
}

.image-town-square {
  display: none;
  margin-left: 50px;
  width: 400px;
  height: 250px;
}

.image-waterfall {
  display: none;
  margin-left: 50px;
  width: 400px;
  height: 250px;
}


